.profile {
  display: flex;
  justify-content: space-around;
}

.tables {
  width: 40%;
}

.my-blank {
  padding: 30px 10px;
}

.rocket-container {
  list-style: none;
  padding: 0;
  margin: 10px;
}
